<style >


	.invisible-scrollbar::-webkit-scrollbar {
		display: none;
	}



@media (min-width: 1200px) and (max-width: 10000px) {
	.estilo_desktop {
		visibility: visible;
		display: block;
	}
}
    


@media (min-width: 1px) and (max-width: 1199px)
{
	.estilo_desktop {
		visibility: hidden;
		display: none;
	 }
}
    
     
@media (min-width: 700px) and (max-width: 1199px)
{
	.estilo_tablet {
		visibility: visible;
		display: block;
	 }
}        
    

@media (min-width: 1200px) and (max-width: 10000px)
{
	.estilo_tablet {
		visibility: hidden;
		display: none;
	 }
  
}    
    
    

@media (min-width: 1px) and (max-width: 699px)
{
	.estilo_tablet {
		visibility: hidden;
		display: none;
	 }
  
}    
    
    
	
@media (min-width: 1px) and (max-width: 699px)
{
	.estilo_mobile {
		visibility: visible;
		display: block;
	 }
}
	

@media (min-width: 700px) and (max-width: 10000px)
{
	.estilo_mobile {
		visibility: hidden;
		display: none;
	 }
}


.layouttexto {
	background-color: transparent;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: solid;
	border-width: 1px;
	border-color: #177CC0;
	box-shadow: none;
	outline: none;
	outline-color: #177CC0
}


.material-symbols-outlined{
	cursor:pointer;
	border:none;
	background:none;
}

/* Estilo padrão para dispositivos maiores, como tablets e desktops */
.razaoSocial {
	width: 550px; /* Largura padrão para a Razão Social */
}

/* Estilo para dispositivos de tela pequena, como smartphones */
@media (max-width: 767px) {
	.razaoSocial {
		width: 100%; /* Largura de 100% para preencher a largura da tela */
	}
}

.cs_pcertificado{
	
}

.botao_cadastro {
	padding: 10px 20px;
	background-color: #007bff; /* Cor de fundo azul, ajuste conforme necessário */
	color: white;
	border: none;
	border-radius: 20px; /* Define o raio da borda para criar um efeito arredondado */
	cursor: pointer;
	margin: 0 10px;
}



</style >    
    



